section
  section
    h1 Communicate beetween components
  section
    h4 Props
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/uao2jghu/2/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Validating props
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/3ozdsvm7/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
    img.inline-pic(src=require('../images/warning.png'))
  section
    h4 Advansed props
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/vy5n295j/4/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Data flow (from parent to child)
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/m1j2xyqb/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Data from child to parent with callback function
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/eqphq61n/2/embedded/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Passing data between sibling components
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/q9rprndm/3/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 EventBus
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/r0vcmdqy/3/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 EventBus in signle file template
    pre
      code.hljs.javascript
        = require('raw-loader!../snippets/main.js.txt')
    pre
      code.hljs.xml
        = require('raw-loader!../snippets/App.vue.3.txt')
  section
    h4 Official Docs
    ul
      li
        | Props
        a(target='_blank' href='https://vuejs.org/v2/guide/components.html#Props') https://vuejs.org/v2/guide/components.html#Props
      li
        | Custom Events
        a(target='_blank' href='https://vuejs.org/v2/guide/components.html#Custom-Events') https://vuejs.org/v2/guide/components.html#Custom-Events
      li
        | Non parent child communication
        a(target='_blank' href='https://vuejs.org/v2/guide/components.html#Non-Parent-Child-Communication') https://vuejs.org/v2/guide/components.html#Non-Parent-Child-Communication
