section
  section
    h1 Template Syntax

  section
    h4 Hello World
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/3kqjor6o/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/3gn6omuL/3/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Saving time with shortlands
    ul
      li v-on:click = @click
      li v-bind:style = :style
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/59pfc5vo/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Official Docs
    ul
      li
        | Getting Started: 
        a(target='_blank' href='https://vuejs.org/v2/guide/', rel='nofollow') https://vuejs.org/v2/guide/
      li
        | На русском:
        a(target='_blank' href='https://ru.vuejs.org/' rel='nofollow') https://ru.vuejs.org/
      li
        | Template Syntax: 
        a(target='_blank' href='https://vuejs.org/v2/guide/syntax.html', rel='nofollow') https://vuejs.org/v2/guide/syntax.html
      li
        | Events: 
        a(target='_blank' href='https://vuejs.org/v2/guide/events.html', rel='nofollow') https://vuejs.org/v2/guide/events.html
      li
        | Computed Properties & Watchers: 
        a(target='_blank' href='https://vuejs.org/v2/guide/computed.html', rel='nofollow') https://vuejs.org/v2/guide/computed.html
      li
        | Class and Style Binding: 
        a(target='_blank' href='https://vuejs.org/v2/guide/class-and-style.html', rel='nofollow') https://vuejs.org/v2/guide/class-and-style.html
