section
  section
    h1 Template Syntax

  section
    h4 Hello World
    iframe(width="100%" height="300" src="//jsfiddle.net/babakhanov/3kqjor6o/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    iframe(width="100%" height="300" src="//jsfiddle.net/babakhanov/3gn6omuL/2/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Saving time with shortlands
    ul
      li v-on:click = @click
      li v-bind:style = :style
    iframe(width="100%" height="300" src="//jsfiddle.net/babakhanov/59pfc5vo/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Links
    ul
      li
        | Official Docs - Getting Started: 
        a(target='_blank' href='http://vuejs.org/guide/', rel='nofollow') http://vuejs.org/guide/
      li
        | Official Docs - Template Syntax: 
        a(target='_blank' href='http://vuejs.org/guide/syntax.html', rel='nofollow') http://vuejs.org/guide/syntax.html
      li
        | Official Docs - Events: 
        a(target='_blank' href='http://vuejs.org/guide/events.html', rel='nofollow') http://vuejs.org/guide/events.html
      li
        | Official Docs - Computed Properties & Watchers: 
        a(target='_blank' href='http://vuejs.org/guide/computed.html', rel='nofollow') http://vuejs.org/guide/computed.html
      li
        | Official Docs - Class and Style Binding: 
        a(target='_blank' href='http://vuejs.org/guide/class-and-style.html', rel='nofollow') http://vuejs.org/guide/class-and-style.html
