section
  section
    h1 Filters and mixins
  section
    h4 Filter
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/jv8qd2as/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
    div Vue doesn't have default filters. Use computed properties or write your own!
  section
    h4 Mixins
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/dneLtLff/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
    div Vue carefully merges mixins and components
  section
    h4 Docs
    ul
      li
        ='Filters '
        a(target='_blank' href='https://vuejs.org/v2/api/#Vue-filter') https://vuejs.org/v2/api/#Vue-filter
        a(target='_blank' href='https://vuejs.org/v2/guide/mixins.html') https://vuejs.org/v2/guide/mixins.html
