section
  section
    h1 Forms
  section
    h4 Forms
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/taahzs7s/2/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
    div v-model.lazy --- set all properties initially!!!
  section
    h4 Docs
    ul
      li
        ='Forms '
        a(target='_blank' href='https://vuejs.org/v2/guide/forms.html') https://vuejs.org/v2/guide/forms.html

