section
  section
    h1 Conditionals and lists
  section
   h4 v-if; v-else; v-show
   iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/hoc719j5/21/embedded/" allowfullscreen="allowfullscreen" frameborder="0")
  section
   h4 Lists v-for
   iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/doof56j6/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Official Docs
    ul
      li
        | Conditionals: 
        a(target='_blank' href='https://vuejs.org/v2/guide/conditional.html', rel='nofollow') https://vuejs.org/v2/guide/conditional.html
      li
        | Lists: 
        a(target='_blank' href='https://vuejs.org/v2/guide/list.html', rel='nofollow') https://vuejs.org/v2/guide/list.html
