section
  section
    h1 Slots
  section
    h4 Slots
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/66mndp1o/3/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Named Slots
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/rujycrgr/3/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Docs
    ul
      li
        ='Slots '
        a(target='_blank' href='https://vuejs.org/v2/api/#slot') https://vuejs.org/v2/api/#slot
