section
  section
    h1 VueJS Instance
  section
    h4 computed, watch, $refs, $data
    iframe(width="100%" height="300" src="//jsfiddle.net/babakhanov/htL7qd3b/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 lifecycle hooks
    iframe(width="100%" height="300" src="//jsfiddle.net/babakhanov/9r8xq9d9/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
