section
  section
    h1 VueJS Instance
  section
    h4 computed, watch, $refs, $data
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/htL7qd3b/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
    div computed properties does not calculate each render, it calculates only if it has to
  section
    h4 computed getters and setters
    pre
      code.hljs.javascript
        = require('raw-loader!../snippets/computed_getter_setter.js.txt')

  section
    h4 Reactivity
    img.inline-pic(src=require('../images/react.png'))

  section
    h4 Lifecycle
    img.inline-pic(src=require('../images/vue-lifecycle.png'))

  section
    h4 Lifecycle hooks
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/9r8xq9d9/1/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Make an ajax in created()
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/chs7e2px/2/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")

  section
    h4 Docs
    ul
      li
        ='The Vue Instance '
        a(target='_blank' href='https://vuejs.org/v2/guide/instance.html') https://vuejs.org/v2/guide/instance.html
      li
        ='Reactivity in Depth '
        a(target='_blank' href='https://vuejs.org/v2/guide/reactivity.html') https://vuejs.org/v2/guide/reactivity.html
