section
  section
    h1 Vue router
  section
    h4 Simple Routing
    iframe(width="100%" height="500" src="//jsfiddle.net/babakhanov/j48j9jt8/4/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0")
  section
    h4 Docs
    ul
      li
        ='Vue Router Github '
        a(target='_blank' href='https://github.com/vuejs/vue-router') https://github.com/vuejs/vue-router
      li
        ='Docs '
        a(target='_blank' href='https://router.vuejs.org/') https://router.vuejs.org/
