html
  head
    meta(charset='utf-8')
    title Just Vue it
  body
    .reveal
      .slides
        section
          section
            h3 Vue.JS
            img.inline-pic(src=require('./images/logo.png'))
            div
          section
            img.inline-pic(src=require('./images/vue.jpg'))

        include ../src/slides/dom.pug
        include ../src/slides/lists.pug
        include ../src/slides/vue-instance.pug
        include ../src/slides/vue-cli.pug
        include ../src/slides/components.pug
        include ../src/slides/components_communicate.pug
        include ../src/slides/slots.pug

        section
          section
            h1 Forms

        section
          section
            h1 Directives

        section
          section
            h1 Filters and mixins

        section
          section
            h1 Transitions and animations

        section
          section
            h1 HTTP

        section
          section
            h1 Routing

        section
          section
            h1 Vuex
