html
  head
    meta(charset='utf-8')
    title Just Vue it
  body
    .reveal
      .slides
        include ../src/slides/start.pug
        include ../src/slides/dom.pug
        include ../src/slides/lists.pug
        include ../src/slides/vue-instance.pug
        include ../src/slides/vue-cli.pug
        include ../src/slides/components.pug
        include ../src/slides/components_communicate.pug
        include ../src/slides/slots.pug
        include ../src/slides/forms.pug
        include ../src/slides/directives.pug
        include ../src/slides/filters_mixins.pug
        include ../src/slides/animation.pug
        include ../src/slides/vue_resource.pug
        include ../src/slides/vue_router.pug
        include ../src/slides/vuex.pug
        include ../src/slides/end.pug
