html
  head
    meta(charset='utf-8')
    title Just Vue it
  body
    .reveal
      .slides
        section
          h3 Vue.JS
          img.inline-pic(src=require('./images/logo.png'))
          div

        include ../src/slides/dom.pug
        include ../src/slides/lists.pug
        include ../src/slides/vue-instance.pug
        include ../src/slides/vue-cli.pug

        section
          section
            h1 Components

          section
            h2 Components basics

          section
            h2 Communicate beetween components

          section
            h2 Dynamic components

          section
            h2 Slots

          section
            h2 Component lifecycle hooks

        section
          section
            h1 Forms

        section
          section
            h1 Directives

        section
          section
            h1 Filters and mixins

        section
          section
            h1 Transitions and animations

        section
          section
            h1 HTTP

        section
          section
            h1 Routing

        section
          section
            h1 Vuex
